@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

button {
    cursor: pointer;
    transition: all 0.2s ease;
}



button:hover {
    transform: scale(1.05);
    /* border-radius: 8px; */
    box-shadow: 0px 2px 3px rgba(54, 78, 126, 0.411);
}
/* 
button:active {
    transform: scale(1);
} */

* {
    font-family: 'Plus Jakarta Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* overflow: none; */
}

main {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
}





.layout {
    background-color: rgb(182, 182, 182);
    /* width: 100%; */
}

.task-details h4 {
    color: #828FA3;

    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    margin-top: 24px;
}

.black--back {
    background-color: #0000008e;
    position: absolute;
    width: 200%;
    height: 200%;
}

/* TOPBAR */
/* TOPBAR */
/* TOPBAR */
/* TOPBAR */
/* TOPBAR */

.top-bar {
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 100%;
    height: 64px;

    padding: 0 16px;
}

.app--logo {
    margin-right: 16px;
}

.app--logo.dark {
    display: none;
}

.top--bar--content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 400px; */
}

.board-title {
    display: flex;
    align-items: center;
}

.board-title p {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;

    max-width: 200px;

    overflow: hidden;
    
    color: #000112;
}

.btn-bar {
    background-color: #fff;
    border: none;
    margin-left: 9px;
}

.top--bar--btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-task--btn {
    background-color: #635FC7;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 18px;
    margin-right: 16px;

    border: none;
    border-radius: 24px;
}

.add-task--btn p {
    display: none;
}

.settings--btn {
    background-color: transparent;
    /* background-color: #EA5555; */
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0;
    padding: 10px 10px;

    border: none;
}

/* MOBILE SIDE BAR */
/* MOBILE SIDE BAR */
/* MOBILE SIDE BAR */
/* MOBILE SIDE BAR */
/* MOBILE SIDE BAR */

.sidebar {
    display: none;
}

.mobile--sidebar.hidden {
    display: none delay(0.4s);
    transform: translateY(-200%);
    transition: all 0.5s ease;
}


.mobile--sidebar {
    transition: all 0.5s ease;
    background-color: rgb(255, 255, 255);

    position: absolute;

    width: 264px;
    /* height: 100%; */

    top: 80px;
    left: 50%;
    margin-left: -132px;

    box-shadow: 0px 10px 20px rgba(54, 78, 126, 0.25);
    border-radius: 8px;

}

.sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar-container h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2.4px;

    margin-top: 16px;
    margin-bottom: 16px;

    color: #828FA3;
}
    
.sidebar--boards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.board--button {
    background: #fff;

    display: flex;
    align-items: center;
    /* justify-content: center; */

    width: 240px;
    height: 48px;

    margin-left: -25px;

    border: none;
    border-radius: 0px 100px 100px 0px;

    overflow: hidden;
}

.board--button.b p {
    color: #635FC7;
}

.board--button:hover {
    background: #635FC7;
}

.board--button:hover p {
    color: #fff;
}

.board--button:active {
    background: #635FC7;
}

.board--button:active p {
    color: #fff;
}

.board--button p {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;

    text-transform: uppercase;

    margin-left: 15px;

    color: #828FA3;
}

.board--icon {
    margin-left: 10px;
}

.toggle--light--dark {
    background-color: #F4F7FD;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 235px;
    height: 48px;

    margin-left: 14px;
    margin-bottom: 14px;

    border: none;
    border-radius: 6px;
}


/* TASK BOARD */
/* TASK BOARD */
/* TASK BOARD */
/* TASK BOARD */
/* TASK BOARD */

.task-board {
    background-color: #F4F7FD;
    height: 100vh;
    min-width: 100vw;
    min-height: 400px;

    overflow-x: scroll;

    padding: 3px;
}

.big-screen--sidebar--button {
    display: none;
}

.task-board--container {
    /* background-color: #abf8a5f5; */
    display: flex;

    /* width: 10000%; */
    height: 100%;

    /* overflow-x: scroll; */
    /* overflow: hidden; */

}

.column {
    /* background-color: #635FC7; */

    display: flex;
    flex-direction: column;

    min-width: 312px;

    /* overflow-x: scroll; */


    margin: 0 16px;
}

.column--name {
    color: #828FA3;

    margin-top: 24px;
    text-transform: uppercase;

    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2.4px;
}

.tasks {
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.101545);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
    border: none;
    border-radius: 8px;

    width: 280px;
    height: 88px;
    min-height: 88px;

    margin-top: 20px;

    transition: all 0.1s ease;
}

.tasks:hover {
    transform: scale(1.05);
}

.tasks h3 {
    color: #000112;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;

    margin-left: 16px;
}
.tasks p {
    color: #828FA3;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    margin-left: 16px;
    margin-top: 8px;
}

/* TASK DETAİLS */
/* TASK DETAİLS */
/* TASK DETAİLS */
/* TASK DETAİLS */
/* TASK DETAİLS */

/* .task-details::before {
    content: "";
    background-color: #00011273;
    position: absolute;
    top: -85px;
    left: 0;
    width: 100vw;
    height: 300%;
    z-index: 1;
} */

.task-details {
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgb(54, 78, 126);
    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 300px;

    top: 20vh;
    left: 50%;

    border-radius: 6px;

    margin-left: -150px;
    padding: 24px;
}


.top--detail {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.top--detail h1 {
    color: #000112;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}

.top--detail button {
    background-color: transparent;
    border: none;
}

.bottom--details {
    margin-top: 24px;
}

.bottom--details h3 {
    color: #828FA3;
    
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
}

.subtasks {
    color: #828FA3;

    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    margin-top: 24px;
}

.bottom--details ul {
    list-style: none;
}

.bottom--details ul li {
    background-color: #F4F7FD;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    width: 252px;

    margin-top: 8px;
    padding: 14.5px 8px;

    border-radius: 4px;
}

.checkbox {
    background-color: rgb(0, 0, 0);
    margin-right: 16px;
    cursor: pointer;
}

.checkbox.active {
    background-color: rgba(196, 40, 40, 0.562);
    text-decoration: line-through;
}

.done {
    color: #000112;

    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-decoration-line: line-through;

    mix-blend-mode: normal;
    opacity: 0.5;
}

.not-done {
    color: #000112;

    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}

/* .detail--status {
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 270px;
    height: 40px;

    margin-top: 8px;

    border: 1px solid #00011256;
    border-radius: 4px;

    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    
    color: #000112;
} */

.save--changes {
    background: #635FC7;

    width: 252px;
    height: 40px;

    margin-top: 24px;
    
    border: none;
    border-radius: 20px;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 23px;

    text-align: center;

    color: #FFFFFF;
}

/* Add New Task + Edit Task */
/* Add New Task + Edit Task */
/* Add New Task + Edit Task */
/* Add New Task + Edit Task */
/* Add New Task + Edit Task */

.about--task {
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgb(54, 78, 126);
    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 315px;
    max-height: 650px;

    top: 70px;
    left: 50%;

    border-radius: 6px;

    margin-left: -157.5px;
    padding: 24px;
    overflow-y: scroll;

}

.task--h1 {
    color: #000112;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}

.container-for--task p {
    color: #828FA3;

    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    margin-top: 24px;
}

.task--title {
    background: #FFFFFF;
    border: 1px solid rgba(130, 143, 163, 0.25);
    border-radius: 4px;

    width: 252px;
    height: 40px;

    padding: 0 16px;
    margin-top: 8px;
}

.task--title::placeholder {
    color: #000112;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;

    mix-blend-mode: normal;
    opacity: 0.25;
}

.task--description {
    background: #FFFFFF;
    border: 1px solid rgba(130, 143, 163, 0.25);
    border-radius: 4px;

    width: 252px;
    height: 40px;

    padding: 0 16px;
    margin-top: 8px;
    /* inline-size: 150px; */
}

.task--description::placeholder {
    overflow-wrap: break-word;
    /* background-color: #f07a7a; */
    color: #000112;
    width: 220px;
    height: 50px;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;

    mix-blend-mode: normal;
    opacity: 0.25;
}

.task--subtasks {
    background: #FFFFFF;
    border: 1px solid rgba(130, 143, 163, 0.25);
    border-radius: 4px;

    width: 252px;
    height: 40px;

    padding: 0 16px;
    margin-top: 8px;
}

.task--create--subtask--btn {
    background: rgba(99, 95, 199, 0.1);
    color: #635FC7;

    width: 252px;
    height: 40px;

    margin-top: 12px;

    border: none;
    border-radius: 20px;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 23px;

    text-align: center;

}

.task-status--select {
    background: #FFFFFF;

    width: 252px;
    height: 40px;

    margin-top: 8px;

    border: 1px solid rgba(130, 143, 163, 0.25);
    border-radius: 4px;
}

.task-create--btn {
    background: #635FC7;
    color: #FFFFFF;

    width: 252px;
    height: 40px;
    min-height: 40px;

    margin-top: 8px;

    border: none;
    border-radius: 20px;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 23px;

    text-align: center;


}

/* Edit Task */
/* Edit Task */
/* Edit Task */

.container-for--task ul {
    list-style: none;
}

.container-for--task ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.subtask-name--btn {
    background: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 221px;
    height: 40px;

    margin-top: 8px;
    margin-bottom: 4px;

    padding: 0 15px;

    border: 1px solid rgba(130, 143, 163, 0.25);
    border-radius: 4px;
}

.cross--btn {
    background-color: #fff;
    color: #828FA3;
    border: none;

    width: 30px;
    height: 30px;
    position: relative;

    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14.85px;
    line-height: 23px;

    cursor: pointer;
}

.task-create--btn.add {
    background: rgba(99, 95, 199, 0.1);
    color: #635FC7;
}

.task-create--btn.delete {
    background: #EA5555;
    color: #fff;
}


/* ADD + EDIT BOARD */
/* ADD + EDIT BOARD */
/* ADD + EDIT BOARD */
/* ADD + EDIT BOARD */
/* ADD + EDIT BOARD */

.for-board {
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgb(54, 78, 126);
    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 315px;
    max-height: 650px;

    top: 70px;
    left: 50%;

    border-radius: 6px;

    margin-left: -157.5px;
    padding: 24px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.for-board h3 {
    color: #000112;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;

    margin-bottom: 24px;
}

.for-board--container p {
    color: #828FA3;

    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    /* margin-bottom: 8px; */
}

.show--info--part {
    background: #FFFFFF;
    border: 1px solid rgba(130, 143, 163, 0.25);
    border-radius: 4px;

    width: 240px;
    height: 40px;

    padding: 0 16px;
    margin-top: 8px;

    margin-bottom: 8px;
}

.show--info--part.title {
    width: 270px;
    margin-bottom: 24px;
}

.show--info--part.board-name {
    margin-bottom: 24px;
}

.show--info--part.add {
    width: 265px;
}

.for-board--container ul {
    list-style: none;
}

/* DELETE BOARD + TASK */
/* DELETE BOARD + TASK */
/* DELETE BOARD + TASK */
/* DELETE BOARD + TASK */
/* DELETE BOARD + TASK */

.delete-section {
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgb(54, 78, 126);
    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 300px;
    max-height: 650px;

    top: 110px;
    left: 50%;

    border-radius: 6px;

    margin-left: -150px;
    padding: 24px;

    overflow: hidden;
}

.delete-section h1 {
    color: #EA5555;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;

    margin-bottom: 24px;
}

.delete-section p {
    color: #828FA3;

    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    
    margin-bottom: 24px;
}

.focus-label {
    color: black;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    /* SIDE BAR */
    /* SIDE BAR */
    /* SIDE BAR */

    .mobile--sidebar {
        display: none
    }

    .sidebar {
        background-color: #FFFFFF;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        width: 260px;

        transition: all 0.4s;
    }
    
    .sidebar.hidden {
        width: 0px;
    }

    .sidebar.hidden .taskSide {
        display: none;
    }
    .sidebar.hidden .sideBarSettingsSide {
        display: none;
    }

    .taskSide {
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 100%;
    }

    .taskSide h3 {
        color: #828FA3;

        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 2.4px;

        margin: 31px 0 19px 24px;
    }

    .board--buttons {
        background: #FFFFFF;
        color: #828FA3;

        display: flex;
        align-items: center;
        justify-content: flex-start;

        width: 240px;
        height: 48px;
        min-height: 48px;

        padding-left: 24px;

        border: none;
        border-radius: 0px 100px 100px 0px;

        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 19px;
        text-transform: capitalize;

        overflow: hidden;

        transition: all 0.1s ease-in-out;
    }

    .board--buttons p  {
        margin-left: 12px;
    }

    .board--buttons:hover {
        background: #635FC7;
        color: #FFFFFF;
    }

    .board--buttons.create p {
        margin-left: 12px;
        color: #635FC7;
    }

    .board--buttons.create:hover p {
        color: #FFFFFF;
    }

    .sideBarSettingsSide {
        /* background-color: #EA5555; */
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;

        width: 100%;
        height: 100%;

        margin-top: 100px;
        margin-bottom: 120px;
    }

    .toggle-light-dark {
        background: #F4F7FD;
        box-shadow: 0px 4px 5px rgba(54, 78, 126, 0.466);

        display: flex;
        align-items: center;
        justify-content: center;

        width: 170px;
        height: 35px;
        /* min-height: 48px; */

        margin-bottom: 20px;

        border: none;
        border-radius: 6px;

        cursor: pointer;

        transition: all 0.2s ease-in-out;
    }

    .toggle-light-dark:hover {
        transform: scale(1.05);
    }

    .toggle-light-dark p {
        color: #828FA3;

        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 19px;

        margin-left: 10px;
    }

    /* TOP BAR */
    /* TOP BAR */
    /* TOP BAR */

    .top-bar {
        height: 80px;
    }

    .board-title p {
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.5px;
    }

    .app--logo.mobile {
        display: none;
    }

    .app--logo.dark {
        display: unset;
    }
    
    .btn-bar {
        display: none;
    }
    
    .big-screen--sidebar--button {
        display: unset;
    }

    .add-task--btn p {
        display: unset;

        color: #FFFFFF;

        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 19px;

        margin-left: 10px;
    }
    

    /* TASK BOARD */
    /* TASK BOARD */
    /* TASK BOARD */

    .task-board {
        min-width: 100vw;
        height: 93.7vh;
    }

    .big-screen--sidebar--button {
        background: #635FC7;

        width: 56px;
        height: 48px;
        min-width: 56px;
        min-height: 48px;

        position: fixed;
        bottom: 50px;
        left: 0;

        border: none;
        border-radius: 0px 100px 100px 0px;
    }

    /* task details */
    /* task details */
    /* task details */

    .task-details {
        width: 480px;
        margin-left: -240px;
        padding: 32px;
        top: 150px;
    }

    .bottom--details ul li {
        width: 416px;
        height: 40px;
    }

    .save--changes {
        width: 416px;
    }

    .top--detail button {
        /* background-color: #EA5555; */
        padding: 5px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* EDIT TASK */
    /* EDIT TASK */
    /* EDIT TASK */

    .about--task {
        width: 480px;
        min-height: 500px;
        margin-left: -240px;
        top: 150px;
    }

    .task--title,
    .task--description {
        width: 416px;
    }

    .subtask-name--btn {
        width: 390px;
        margin-top: 12px;
    }

    .task-create--btn {
        width: 416px;
        margin-top: 10px;
    }

    /* DELETE TASK */
    /* DELETE TASK */
    /* DELETE TASK */

    .delete-section {
        width: 480px;
        margin-left: -240px;
        top: 50%;
        margin-top: -108.5px;
    }

    /* ADD TASK */
    /* ADD TASK */
    /* ADD TASK */

    .task--subtasks,
    .task--create--subtask--btn,
    .task-status--select {
        width: 416px;
    }

    /* EDIT BOARD */
    /* EDIT BOARD */
    /* EDIT BOARD */

    .for-board {
        width: 480px;
        margin-left: -240px;
        top: 50%;
        margin-top: -380.5px;
        max-height: 800px;
    }

    .show--info--part {
        width: 386px;
    }
    
    .show--info--part.title {
        width: 416px;
    }


    /* ADD BOARD */
    /* ADD BOARD */
    /* ADD BOARD */

    .show--info--part.add {
        width: 416px;
    }


}

@media screen and (min-width: 1440px) {

    .board-title p {
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        max-width: none;
    }
    
}










































































































