.task-board {
    background-color: rgb(255, 208, 208);
    width: 100%;
    margin: 20px 0;
}

.sidebar {
    background-color: rgb(202, 255, 255);
    width: 100%;
    margin: 20px 0;
}

.top-bar {
    background-color: rgb(255, 255, 202);
    width: 100%;
    margin: 20px 0;
}

.layout {
    background-color: rgb(182, 182, 182);
    width: 100%;
}